* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'GothamPro', 'Montserrat', serif;
}

.header {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 87px;
}

.header__menu {
  width: 100%;
  height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: none;
}

.menu__link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.menu__link-white {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.menu__link:hover {
  text-decoration: underline #1D4E89;
}

.sticky {
  position: fixed;
  background-color: #0c0c0c;
  top: 0;
  z-index: 1;
  transition: background ease 1s;
  padding-left: 17.5%;
  padding-right: 17.5%;
}

.sticky + .main{
  padding-top: 40px;
}

.header__image {
  position: relative;
}

.image {
  width: 65vw;
  height: auto;
}

.header__title {
  position: absolute;
  top: 30px;
  left: 60px;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1D4E89;
  /*border-bottom: solid 3px #1D4E89;*/
  padding-bottom: 25px;
}

.header__subtitle {
  position: absolute;
  top: 175px;
  left: 60px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1d4e89;
  border-top: solid 3px #1D4E89;
  padding-top: 25px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 460px;
  background: #f6f6f6;
}

.title {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #1d4189;
  margin-bottom: 35px;
}

.about__text {
  width: 65%;
}

.text {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}

.main__button {
  width: 200px;
  background-color: #1D4E89;
  border: none;
  color: #fff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 30px 0 0;
  cursor: pointer;
  border-radius: 15px;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.skills__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.skills__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill__icon {
  width: auto;
  height: 100px;
  margin-bottom: 15px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  padding-top: 60px;
}

.portfolio__item {
  padding-bottom: 45px;
}

.portfolio__image {
  padding-bottom: 20px;
  width: 65vw;
  height: auto;
}

.link {
  color: #000;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.contacts__socials {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 55px;
}

.socials__row {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.contacts__icon {
  width: 64px;
  height: 64px;
  padding: 5px;
  opacity: 1;
  transition: transform .5s;
}

.contacts__icon:hover {
  opacity: 0.5;
  transition: all ease-in-out .5s;
  transform: scale(1.25);
}

.mobile-link {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

@media (max-width: 1024px) {
  .header__title {
    font-size: 40px;
  }
  .about__text {
    width: 65%;
  }
  .text {
    font-size: 18px;
  }
  .skills {
    width: 100%;
  }
  .skill__icon {
    height: 80px;
    margin-bottom: 15px;
  }
  .contacts__socials {
    width: 100%;
    justify-content: space-around;
  }
  .contacts__icon {
    width: 54px;
    height: 54px;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
  }
  .mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s;
  }
  .mobile-menu__icon {
    display: block;
    position: relative;
    background: #000;
    width: 90%;
    height: 4px;
    transition: 0.4s;
  }
  .mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 4px;
    transition: 0.4s;
  }
  .mobile-menu__icon::after {
    top: 8px;
  }
  .mobile-menu__icon::before {
    top: -8px;
  }
  .mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
    background-color: #000;
  }
  .mobile-menu__list {
    transition: 0.5s;
    transition-delay: 0.5s;
    list-style: none;
    padding-left: 0;
    margin-top: -50px;
  }
  .mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
  }
  .mobile-menu__link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
  .mobile-menu__checkbox {
    display: none;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
    transition-delay: 0s;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 100%;
    transition-delay: 0s;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 47px;
    margin-top: 50px;
  }
  .image {
    width: 100%;
  }
  .header__title {
    top: 20px;
    left: 40px;
    font-size: 30px;
  }
  .header__menu {
    display: none;
  }
  .show {
    display:block;
  }
  .noshow {
    display: none;
  }
  .about {
    height: auto;
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .title {
    font-size: 30px;
  }
  .about__text {
    width: 80%;
  }
  .text {
    font-size: 16px;
  }
  .skills {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .skill__icon {
    height: 60px;
    margin-bottom: 15px;
  }
  .contacts__socials {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .socials__row {
    padding-bottom: 15px;
  }
  .contacts__icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    padding-bottom: 0;
  }
  .header__title {
    top: 15px;
    left: 20px;
    font-size: 30px;
  }
  .image {
    vertical-align: middle;
  }
  .burger__menu i {
    width: 30px;
    height: 30px;
  }
  .about {
    height: auto;
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .title {
    font-size: 30px;
  }
  .text {
    font-size: 14px;
  }
  .skills {
    padding-top: 37px;
    padding-bottom: 17px;
  }
  .skill__icon {
    height: 45px;
    margin-bottom: 15px;
  }
  .portfolio__image {
    width: 100%;
  }
  .contacts__socials {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .socials__row {
    width: 100%;
    padding-bottom: 15px;
  }
  .contacts__icon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 380px) {
  .header__title {
    top: 15px;
    left: 15px;
    font-size: 20px;
  }
  .text {
    font-size: 12px;
  }
}
