@font-face {
  font-family: "GothamPro";
  src:
          url("/fonts/GothamPro.woff") format("woff"),
          url("/fonts/GothamPro.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "GothamPro";
  src:
          url("/fonts/GothamPro-Bold.woff") format("woff"),
          url("/fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: bold;
}